<h1>Word Definition App</h1>
<p>Here are your words:</p>
<p>Click on a word to see the definition</p>
<ul>
  <% @word.each() do |x_word| %>
    <li><a href='/def'><%= x_word.word() %><a/></li>
    <% end %>
</ul>


<form action="/" method="post">
  <label for ="name">Add a New Word to the List: </label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Word</button>
</form>
